* {

	padding: 0;
	margin: 0;

	font-family: 'Yusei Magic', sans-serif;
}

body {

	height: 100vh;

}

.contenedor {

	height: 100%;

}

.cabecera {

	display: flex;
	align-items: center;

	background-color: #4B4453;
	color: white;

	width: 100vw;

	grid-column: 1/5;
	grid-row: 1/2;

}

.main {

	display: flex;

	background: url(Imagenes/fondo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	width: 100vw;
	height: 300px;

	position: relative;
	
}

h1 {


	color: white;

}

p {

	color: white;

}

.info {

	display: flex;
	align-items: center;

	width: 100vw;

	color: black;

}

.info > h1 {

	font-size: 150px;
}

.galeria {

	display: grid;
	justify-content: center;
	/* margin-left: 400px; */

	grid-template-columns: 100px 300px 300px 300px 100px;
	grid-template-rows: 300px 300px;
	grid-gap: 10px 10px;

	margin-top: 20px;
/* 
	z-index: 1; */

}

.uno {

	grid-column: 2/3;
	grid-row: 1/2;

	background: url(Imagenes/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	width: 300px;
	height: 300px;

	position: relative;

}

.dos {

	background: url(Imagenes/2.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	grid-column: 3/4;
	grid-row: 1/2;

	width: 300px;
	height: 300px;

	position: relative;

}

.tres {

	background: url(Imagenes/3.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	grid-column: 4/5;
	grid-row: 1/2;

	width: 300px;
	height: 300px;

	position: relative;

}

.cuatro {

	background: url(Imagenes/4.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	grid-column: 2/3;
	grid-row: 2/3;

	width: 300px;
	height: 300px;

	position: relative;

}

.cinco {

	background: url(Imagenes/5.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	grid-column: 3/4;
	grid-row: 2/3;

	width: 300px;
	height: 300px;

	position: relative;


}

.seis {

	background: url(Imagenes/6.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	grid-column: 4/5;
	grid-row: 2/3;

	width: 300px;
	height: 300px;

	position: relative;

}

.titulo {

	position: absolute;
	bottom: 0;
	width: 100%;

	background-color: rgba(255, 255, 255, 0.2);
	color: black;

	font-size: 25px;
	padding: 5px;
}

@media screen and (max-width: 900px) {

	.galeria {

		grid-template-columns: 100px 300px 300px 100px;
		grid-template-rows: 300px 300px 300px;

	}

	.tres {
	
		grid-column: 2/3;
		grid-row: 3/4;
	
	}

	.seis {
	
		grid-column: 3/4;
		grid-row: 3/4;
	
	}

}

@media screen and (max-width: 620px) {

	.galeria {

		grid-template-columns: 100px 300px 100px;
		grid-template-rows: repeat(6, 300px);

	}

	.dos {

		grid-column: 2/3;
		grid-row: 2/3;
	}

	.tres {
	
		grid-column: 2/3;
		grid-row: 3/4;
	
	}

	.cuatro {

		grid-column: 2/3;
		grid-row: 4/5;

	}

	.cinco{
	
		grid-column: 2/3;
		grid-row: 5/6;
	
	}

	.seis {
	
		grid-column: 2/3;
		grid-row: 6/7;
	
	}

	.siete {
	
		grid-column: 2/3;
		grid-row: 7/8;
	
	}

	.ocho {
	
		grid-column: 2/3;
		grid-row: 8/9;
	
	}

	.nueve {
	
		grid-column: 2/3;
		grid-row: 9/10;
	
	}

}

@media screen and (max-width: 500px) {

	.main {

		flex-direction: row;
		justify-content: center;
		
	}
}
